<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CS161 eBook</title>
    <meta name="description" content="">
    <meta name="author" content="Stephanie Rogers and Max Feldman">
	
    <!-- Le styles -->
    <link href="../../assets/stylesheets/application.css" rel="stylesheet">
	<br>
	<div class="page">
	<div class="header">
		
		<div class="ChapterHeader"> 
			<a href=""> <img class="nav-left" src="../../assets/images/left_arrow.png"></a> 
			<span class="ChapterWording"> Chapter 8: Web Security </span>
			<a href=""> <img class="nav-right" src="../../assets/images/right_arrow.png"></a> 
		</div>

		
	</div>
	
	<br>
	
	<div class="content">
		<div class="index">
			<div class="l0">Sections </div>	
			<hr class="blue">
			<hr class="blue">
			<a href="#Introduction"> <div class="l1">Introduction</div> </a>
			<a href="#Http Protocol"> <div class="l1">Http Protocol</div> </a>
			<a href="#Rendering"> <div class="l1">Rendering</div> </a>
			<a href="#Isolation"> <div class="l1">Isolation</div> </a>
			<a href="communication.html"> <div class="l1">Communication</div> </a>
			<a href="#Navigation"> <div class="l1">Navigation</div> </a>
			<a href="#Cookies"> <div class="l1">Cookies</div> </a>
			<a href="#Security UI"> <div class="l1">Security UI</div> </a>
			<a href="#Frames"> <div class="l1">Frames</div> </a>
		</div>
		
	
		<div class="content-wrapper"> 
			<div class="introduction"> 
                <div class="title">Chapter 8: Web Security</div>
                <p>In this chapter we will talk about Web Security.</p>
                
                <div class="section-title">Section 8.1: Introduction</div>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                  <div class="section-title">Section 8.2: Http Protocol</div>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                  <div class="section-title">Section 8.3: Rendering</div>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                  <div class="section-title">Section 8.4: Isolation</div>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                <p>
                .
                </p>
                
                <div class="section-title" id="Communication">Section 8.5: Communication</div>
                
                <img class="inline" src="../../assets/images/window_postmessage.png">
                
                <p class="txt"> In this segment, I’d like to talk about interframe communication in the browser.  This is the way that one frame or set of content from one site communicates with another frame that may contain content from another site.  </p>
                
                <p class="txt">
                The basic interframe communication mechanism that’s used currently in many browsers is called postMessage. postMessage provides an API that’s supported in many recent browsers that is a form of network-like communication between frames.  For example, a Facebook site could add a contact to a contact manager on another site using a postMessage API or retrieve contacts from another site that has contacts.
                </p>
                <br>
              
                
                
                <img class="inline" src="../../assets/images/postmessage_syntax.png">
                <p class="txt">
                Here’s a syntax of postMessage and I’ll explain how this works.  In the top part of the slide, there’s a code that addresses a message to Frame 0, the first frame in the array of frames of the page and the postMessage call then has two arguments, one a string that contains the actual message and the other, the origin of the receiving frame.  The browser checks that when it sends the message to that frame, the frame actually contains content that was loaded from that origin.  If it doesn’t, then the message just isn’t delivered.
                </p>
          
                
                
                
                
                
                <p class="txt-len">
                The second code shows how a frame that receives a message can listen and get the data from a message.  So this code has a string saying this is a message listener and then a function that’s called with the argument E containing the actual event when a message occurs.  This code in this example checks to make sure the origin is trusted, makes sure that the message came from a frame that has an origin that the receiver wants to hear from, and then if that test succeeds, then you can look at the data and the message and so on.  So the picture on the bottom shows how this works.  One frame from one site, let’s call it A, sends message to another frame loaded from another site called B, and the A receiver gets to say the message is going to a frame controlled by B and the B receiver gets to say I want to make sure the message is coming from A.
                </p>
                
                <img class="inline" src="../../assets/images/whyinclude.png">
                <p class="txt">
                So I wanted to make a security point here, which is why the target origin is contained in the sending call to postMessage.  Originally, postMessage was designed without that feature and then in that case, in the earlier version, the sending frame would just call postMessage with a message and give the frame that it was to be delivered to.  However what we really want to do is send messages not to frames but to principals.  In the older design, the message was sent to the frame incorrectly without checking the principal.  So let’s see how that works.
                </p>
                
        		 <img class="inline" src="../../assets/images/messages_sent.png">
                <p class="txt">
                Here is a scenario in which one site, called the integrator here because it contains gadgets from other sites, has a nested frame and let’s assume that that comes from an untrusted site that may be malicious.  And then the malicious attacker frame may contain a familiar gadget that’s known to the integrator that the integrator is normally willing to communicate with that gadget.  Then the gadget can send a message to the integrator saying, “Let’s talk.  Please send me some data.”  And that will be sent from the gadget to the integrator.  The integrator can check that the origin of the gadget frame is something it trusts and decide to receive the message.
                </p>
               
            
               
                <p class="txt">
                Now something could go wrong then in this scenario if the integrator sends back the message to the gadget frame without making sure that when the message is delivered, the interframe actually still contains content from the correct site and hasn’t been overwritten by the attacker.  We’ll talk about frame navigation in another segment but if the integrator were to send the message in the old version of postMessage, the attacker could renavigate the gadget frame to its own site and intercept the data in that message.  So this is a form of attack on postMessage in a situation when you have a number of frames from different sites, a malicious site could navigate another frame and use that to intercept sensitive data sent with postMessage.  This attack is prevented by the target origin and that’s the reason why it’s there.
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                 <img class="inline-t" src="../../assets/images/messages_sent.png">
                
              
        
			</div>
		
		</div>
	
	</div>
	</div>


  </body>
</html>

